
body{
   font-size: 80%;
}
.auth-container{
  
    height: 100vh;
    width: 100vw;
   
}
.auth-bannar{
    display: flex;
    justify-content: center;
    align-items: center;
   
   background-color:#EDF0F5 ;

}
.auth-image{
    padding: 10px;

    border-radius: 5%;
}

.primary-color{

   color: rgb(8, 81, 104);

}
.primary-color-bg{

    color: rgb(16, 26, 49);
 
 }

 .box-shadow{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 }
 .auth-form{
    display: flex;
    justify-content: center;
    align-items: center;


 }
 .common-form{
  display: block;
  border: none;
  height: 40px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: #EDF0F5;

 }
 .common-form:focus{
   outline: none ;
 }
 .m-100{
    margin-top: 100px;
 }
 .m-50{
    margin-top: 50px;
 }
 .m-30{
    margin-top: 30px;
 }
 .m-20{
    margin-top: 20px;
 }
 .auth-box{
    
    width: 70%;

 }
 .btn-100{
    width: 100%;
    height: 40px;
    border: none;
    padding: 10px;
    background-color: rgb(16, 26, 49);
    color: white;
    border-radius: 10px;
 }
 .form-lebel{
    display: block;
 }
 .error{
    color: red;
 }
